.home {
  color: #8f9ca7;
  margin: 50px 140px 0;
  font-size: 24px;
  .info {
    .home-title {
      color: #005dca;
      font-size: 36px;
      font-weight: 600;
    }
    .home-paragraph {
      font-size: 24px;
    }
  }
  .forms {
    .form-header {
      display: flex;
      align-items: center;
      margin: 4rem 0 2.30rem;
      .icon {
        width: 36px;
        margin-right: 1rem;
      }
      .paragraph {
        font-size: 30px;
        color: #8f9ca2;
        font-weight: 600;
      }
    }
    .form-payment {
      .form-input {
        display: flex;
        align-items: center;
        margin: .75rem 0;
        .form-control {
          border: 1px solid #88bade;
          border-radius: 16px;
          padding: 14px 15px;
          color: #66757c;
          width: 500px;
        }
      }
    }
  }
  .form-check {
    margin-top: 2.5rem;
    .form-check-label {
      font-size: 18px;
      font-weight: 600;
      color: #8f9ca2;
    }
  }
  .buttom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .btn {
      border-radius: 50px;
      padding: 15px 100px;
      font-size: 19px;
      font-weight: 600;
    }
    .btn-primary {
      margin-left: 3rem;
      margin-right: 9.7rem;
      background-color: #0055b8;
    }
  }
  .modal {
    .modal-content{
      border-radius: 32px;
      .modal-header {
        border-bottom: none;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 48px;
        .icon {
          height: 70px;
        }
      }
      .modal-body {
        .info {
          display: flex;
          align-items: center;
          flex-direction: column;
          .title {
            font-size: 26px;
            color: #0055b8;
          }
          .paragraph {
            font-size: 20px;
          }
        }
        .form-input {
          display: flex;
          align-items: center;
          margin: .75rem 0;
          .form-control {
            border: 1px solid #88bade;
            border-radius: 16px;
            padding: 14px 15px;
            color: #66757c;
            width: 500px;
          }
        }
      }
      .modal-footer {
        border-top: none;
        padding: 12px 0 48px;
        width: 100%;
        display: flex;
        justify-content: center;
        .btn {
          border-radius: 50px;
          padding: 15px 100px;
          font-size: 19px;
          font-weight: 600;
          margin: 0 15px;
        }
        .btn-primary {
          background-color: #0055b8;
        }
      }
    }
  }
}