<section class="footer container-fluid mt-5">
  <div class="box">
    <img class="brand" src="assets/img/brand/logo_ecertchile-white.webp" alt="Logo e-certChile">
    <div class="commercial">
      <img class="icon" src="assets/img/icon/phone.webp" alt="phone">
      <div class="box-commercial">
        <p class="info">Atención Comercial y Soporte Técnico</p>
        <p class="number">600 3620 400</p>
      </div>
    </div>
    <div class="commercial">
      <img class="icon" src="assets/img/icon/whatsapp.webp" alt="whatsapp">
      <div class="box-commercial">
        <p class="info">Mesa de Ayuda</p>
        <p class="number">(+56 2) 2818 5760</p>
      </div>
    </div>
    <div class="redes">
      <p class="info">SÍGUENOS EN</p>
      <div class="box-icon">
        <img class="icon" src="assets/img/icon/linkedin.webp" alt="whatsapp">
        <img class="icon" src="assets/img/icon/facebook.webp" alt="whatsapp">
        <img class="icon" src="assets/img/icon/youtube.webp" alt="whatsapp">
        <img class="icon" src="assets/img/icon/instagram.webp" alt="whatsapp">
      </div>
    </div>
  </div>
  <div class="leyend mt-5">
    <span class="info">Políticas y Prácticas - Política General de Seguridad - Política de Calidad</span>
  </div>
</section>